.title-width {
  width: 20%;
  text-align: center;
}
.description-width {
  width: 25%;
  text-align: center;
}
.before-width {
  width: 25%;
  text-align: center;
}
.delete-width {
  width: 10%;
  text-align: center;
}
.options-width {
  width: 20%;
  text-align: center;
}
